<div class="color">
  <div class="container">
    <div class="row mb-2">
      <div class="col-lg-3" *ngFor="let item of detArray">
        <div class="card mb-2" [style.background-color]="item.getColor(item)">
          <div >
            <button class="delete" (click)="delete(item)">x</button>
            <div class="text-center mb-2">{{item.id}}</div>
            <p class="card-text text-center mb-4">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text1 ml-3">Новый датчик</div>
  <div class="row mx-1">
    <input type="text" class="control ml-3" [(ngModel)]="inputName" />
    <button class="btn btn-primary ml-3" (click)="new()">Добавить</button>
    </div>
  </div>